PORT=8000
NODE_ENV=production

MONGODB_URI=mongodb+srv://contactnetpiedev_db_user:20KC3X3UJqYFC2bO@cluster0.rtyuckp.mongodb.net/?appName=Cluster0

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FRONTEND_URL_DEV=http://localhost:3000
FRONTEND_URL_PROD=https://www.triptootravels.com

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

HEALTH_CHECK_URL=
